---
import Nav from "../components/Nav.astro";
import { ViewTransitions } from "astro:transitions";
import "@fontsource-variable/playfair-display";
import "@fontsource-variable/jetbrains-mono";
import "../global.css";

interface Props {
  title: string;
  description?: string;
  image?: string;
  date?: string | Date;
}

const { title, description, image, date } = Astro.props;
---

<!doctype html>
<html lang="en" transition:animate="none">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Astro description" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />

    <meta name="theme-color" content="#fefdfb" />
    <meta name="theme-color" content="#151320" />
    <meta name="color-scheme" content="dark light" />
    <meta name="robots" content="index, max-image-preview:large" />

    {description != null && <meta name="description" content={description} />}
    {
      description != null && (
        <meta property="og:description" content={description} />
      )
    }

    {
      date != null && (
        <meta property="og:updated_time" content={date.toString()} />
      )
    }

    <title>{title}</title>
    <meta property="og:title" content={title} />

    {image != null && <meta property="og:image" content={image} />}

    <meta property="og:url" content="https://jakerunzer.com" />
    <meta property="og:site_name" content="jr." />
    <meta property="og:locale" content="en_US" />
    <meta property="og:type" content="website" />

    <meta name="twitter:card" content="summary" />

    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png" />
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png" />
    <link rel="icon" type="image/png" sizes="96x96" href="/favicon-96x96.png" />
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png" />
    <link rel="manifest" href="/site.webmanifest" />

    <ViewTransitions />
  </head>

  <body class="bg-bg text-fg">
    <Nav />
    <slot />
  </body>
</html>
